<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>File Upload</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="pdfFile" id="pdfFile" required>
        <br>
        <input type="number" name="num_questions" id="num_questions" placeholder="Enter the number of questions you want from 1 - 10" required>
        <br>
        <button type="submit">Upload PDF</button>
    </form>
</body>
</html>
